* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

:root {
  --pink: #c62dc6;
  --pink-shadow: #b505b5;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.select-box,
.playboard,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid var(--pink);
  box-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem var(--pink-shadow),
    -0.2rem 0.1rem 1rem var(--pink-shadow), 0.2rem 0.1rem 1rem var(--pink-shadow),
    0 -0.5rem 2rem var(--pink), 0 0.5rem 3rem var(--pink);
}

.select-box {
  width: 300px;
  height: 215px;
  border-radius: 5px;
}

.select-box h1 {
  font-size: 1.8rem;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--pink);
}

.select-box .content {
  margin: 0 15px;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.option {
  display: flex;
  justify-content: space-evenly;
}

.option button {
  background-color: #c62dc6;
  color: white;
  outline: 0;
  border: none;
  padding: 14px 18px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.option button:hover,
.result-box .btn button:hover {
  transform: scale(0.95);
}

.option button:first-child {
  margin-right: 6px;
}

/* playboard */
.playboard {
  display: none;
  /* opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(-0.95); */
}

.playboard.show {
  display: block;
  /* opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1); */
}

.playboard .detail {
  width: 100%;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}

.playboard .detail .player {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.playboard .detail span {
  width: 100%;
  color: #c62dc6;
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  cursor: default;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}

.detail span:first-child {
  color: white;
}

.detail .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #c62dc6;
  border-radius: 5px;
  z-index: 2;
}

.player.active span:first-child {
    color: #c62dc6;
}
.player.active span:nth-child(2) {
    color: white;
}
.player.active .slider {
    left: 50%;
}

.playboard .play-area {
  margin-top: 20px;
}

.playboard .play-area section {
  display: flex;
}

.play-area section span {
  width: 80px;
  height: 80px;
  background: white;
  border-radius: 5px;
  margin: 2px;
  display: block;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #c62dc6;
}

/* result box */
.result-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.95);
}

.result-box.show {
  display: block;
    /* opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); */
}

.result-box .won-text {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

.result-box .won-text span {
  font-weight: 600;
}

.result-box .btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-box .btn button {
  background-color: #c62dc6;
  color: white;
  outline: 0;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}
