* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

:root {
  --pink: #c62dc6;
  --pink-shadow: #c04cc0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.select-box,
.playboard,
.result-box {
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #fff;
  padding: 3px;
  border-radius: 5px;
  border: 3px solid var(--pink-shadow);
  box-shadow: 0 0 0.3rem #fff, 0 0 0.1rem var(--pink-shadow),
    -0.1rem 0.1rem 0.5rem var(--pink-shadow), 0.1rem 0.1rem 0.5rem var(--pink-shadow),
    0 -0.1rem 0.2rem var(--pink), 0 0.1rem 0.2rem var(--pink);
}

h1 {
  font-size: 1.8rem;
  text-align: center;
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--pink);
  text-shadow: 0 0 0 #fff, 0 0 1rem var(--pink-shadow),
    -0.2rem 0.1rem 1rem var(--pink-shadow), 0.2rem 0.1rem 1rem var(--pink-shadow),
    0 -0.5rem 2rem var(--pink), 0 0.5rem 2rem var(--pink);
}

.select-box .content {
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.option {
  display: flex;
  justify-content: space-evenly;
}

.option button {
  background-color: #c62dc6;
  color: white;
  outline: 0;
  border: none;
  padding: 14px 18px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.option button:hover,
.result-box .btn button:hover {
  transform: scale(0.95);
}

.option button:first-child {
  margin-right: 6px;
}

/* playboard */
.playboard {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 15px 8px;
}

.playboard.show {
  display: flex;
}

.playboard .detail {
  width: 100%;
  background-color: transparent;
}

.playboard .detail .player {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

.playboard .detail span {
  width: 100%;
  color: var(--pink);
  text-align: center;
  border-radius: 5px;
  padding: 7px;
  cursor: default;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  z-index: 5;
}

.detail span:first-child {
  color: white;
}

.detail .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--pink);
  border-radius: 5px;
  z-index: 2;
}

.player.active span:first-child {
    color: var(--pink);
}
.player.active span:nth-child(2) {
    color: white;
}
.player.active .slider {
    left: 50%;
}

.playboard .play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  text-shadow: 0 0 0 #fff, 0 0 1rem var(--pink-shadow),
    -0.2rem 0.1rem 1rem var(--pink-shadow), 0.2rem 0.1rem 1rem var(--pink-shadow),
    0 -0.5rem 2rem var(--pink), 0 0.5rem 2rem var(--pink);
  margin-bottom: 10px;
}

.playboard .play-area section {
  display: flex;
  gap: 13px;
}

.play-area section span {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  display: block;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: var(--pink);
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 0 0.1rem #ffe6ff, 0 0 0.1rem #fff,
    -0.1rem 0.1rem 0.1rem #fff, 0.1rem 0.1rem 0.1rem #fff,
    0 -0.1rem 0.2rem #fff, 0 0.1rem 0.2rem #fff;
}

/* result box */
.result-box {
  padding: 30px 20px;
  display: none;
}

.result-box.show {
  display: block;
}

.result-box .won-text span {
  font-weight: 600;
  text-transform: uppercase;
}

.result-box .btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.result-box .btn button {
  background-color: var(--pink);
  color: white;
  outline: 0;
  border: none;
  padding: 10px 24px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .select-box,
.playboard,
.result-box {
  width: 500px;
}

  h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
  }

  .select-box .content {
    margin-bottom: 30px;
  }

  .title {
    font-size: 1.8rem;
  }

  .option button {
    font-size: 1.3rem;
    padding: 18px 24px;
  }
}
